// header
.header
    .center
        //.lang
            button.lang__btn &rcy;&ucy;&scy;
            ul.lang__menu
                li.lang__item
                    a.lang__link(href='' title='') &#x49B;&acy;&zcy;
                // li.lang__item.active рус
                li.lang__item
                    a.lang__link(href='' title='') eng

        a.btn-burger.top-menu__mob-burger(href=''): span.btn-burger__icon: svg(xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewbox='0 0 20 10'): g: g: path(d='M19.996 6.002H.011V3.997h19.985zm0-4.008H.011V-.011h19.985zM14 10.01H.01V8.007H14z')
        a.btn-zoom(href=''): span.btn-zoom__icon: svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20'): g: g: path(d='M16.002 8.01a7.997 7.997 0 1 1-15.993 0 7.998 7.998 0 1 1 15.993 0zm-1.999 0c0-3.308-2.69-6-5.997-6a6.005 6.005 0 0 0-5.998 6 6.005 6.005 0 0 0 5.998 5.998 6.005 6.005 0 0 0 5.997-5.998zM20 18.594l-1.413 1.413-4.241-4.242 1.414-1.413z')
        a.btn-zoomx(href=''): span.btn-zoomx__icon: svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20'): g: g: path(d='M16.002 8.01a7.997 7.997 0 1 1-15.993 0 7.998 7.998 0 1 1 15.993 0zm-1.999 0c0-3.308-2.69-6-5.997-6a6.005 6.005 0 0 0-5.998 6 6.005 6.005 0 0 0 5.998 5.998 6.005 6.005 0 0 0 5.997-5.998zM20 18.594l-1.413 1.413-4.241-4.242 1.414-1.413z')
        a.btn-zoom-main(href=''): span.btn-zoom-main__icon
            svg(version='1.1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;')
                g: g: path(d='M0,0v512h512V0H0z M477.867,477.867H34.133V34.133h443.733V477.867z')
                g: g: polygon(points='126.533,102.4 199.111,102.4 199.111,68.267 68.267,68.267 68.267,199.111 102.4,199.111 102.4,126.538 198.422,222.558 222.556,198.423')
                g: g: polygon(points='222.557,313.581 198.422,289.445 102.4,385.467 102.4,312.889 68.267,312.889 68.267,443.733 199.111,443.733 199.111,409.6 126.538,409.6')
                g: g: polygon(points='409.6,312.889 409.6,385.467 313.578,289.444 289.444,313.578 385.462,409.6 312.889,409.6 312.889,443.733 443.733,443.733 443.733,312.889')
                g: g: polygon(points='312.889,68.267 312.889,102.4 385.467,102.4 289.444,198.423 313.578,222.558 409.6,126.538 409.6,199.111 443.733,199.111 443.733,68.267')

        .top-menu-mob
            .select-map
                select.select-styler
            ul.top-menu
                li.top-menu__item
                    a.top-menu__link(href='' title='') &Scy;&tcy;&rcy;&acy;&tcy;&iecy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &ocy;&tcy;&chcy;&iecy;&tcy;
            .logo(title='Аватар автора')
                img(src='img/author-avatar-gold.png' alt='')
                span Автор:<br>Орёл с биноклем &#8482;