- var title = "Главная";

doctype html
html(lang='ru')
  include includes/head
  body
    .wrapper
      //header
      include includes/header
      //\header
      .video-container
        #video-player
      //footer
      include includes/footer
      //\footer
    //scripts
    include includes/scripts
    //\scripts